body {
    font-family: 'Times New Roman', Times, serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    line-height: 1.4;
    color: #2D2D2D;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    margin: 20px 0 0 0;
}

.pronunciation {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
    font-size: 24px;
    margin-top: 0;
}

section,
div {
    border-top: 1px solid #ddd;
    margin-bottom: 40px;
    padding-top: 5px;
}

section h2 {
    margin-top: 0;
}

h2 {
    font-family: Arial, Helvetica, serif;
    font-weight: lighter;
    font-size: 24px;
}

.main-icon {
    height: 36px;
}

.meaning {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}

.meaning-definitions {
    font-size: 18px;
}

.meaning-definitions li {
    margin-bottom: 10px;
}

.definition-examples {
    list-style: none;
    padding-left: 0;
    color: gray;
}

footer {
    font-size: 14px;
    color: gray;
}

.footer-links {
    padding-top: 10px;
}

.footer-links a {
    text-decoration: underline;
    color: #757575;
    margin-bottom: -20px;
}

.footer-links a:hover {
    color: lightsalmon;
}

.source-link {
    display: flex;
    align-items: center;
}

.source-link * {
    margin-right: 15px;
}

.source-link img {
    height: 12px;
}