body {
    background-color: #18171f;
    font-family: "Share Tech Mono", monospace;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.password-generator {
    background-color: #24232c;
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    font-size: 1rem;
    margin: 0 0 1.5rem 0;
    color: #a4ffaf;
}

.password-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #18171f;
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 5px;
}

.copy-container {
    width: 50px;
    height: 24px;
}

.copy-icon,
.copied-text {
    position: absolute;
    transition: opacity 0.5s ease;
}

.copy-icon {
    opacity: 1;
    pointer-events: auto;
    margin-left: 30px;
}

.copied-text {
    opacity: 0;
    font-size: 0.8em;
    margin-top: 2px;
    color: #a4ffaf;
    font-weight: bold;
    pointer-events: none;
}

.copied-text.visible {
    opacity: 1;
}

.settings {
    margin-top: 1.5rem;
}

.settings label,
.settings input[type="checkbox"] {
    cursor: pointer;
}

.slider {
    width: 100%;
}

input.slider[type="range"] {
    accent-color: #a4ffaf;
}

.strength {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #18171f;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.strength-texts {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-right: 1em;
}

.strength-name {
    font-size: 0.8em;
    font-weight: bold;
    color: slategray;
    text-align: left;
    align-self: center;
}

.strength-level {
    text-align: right;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.checkbox-group input[type="checkbox"] {
    accent-color: #a4ffaf;
}

.bars {
    display: flex;
    gap: 4px;
}

.bar {
    width: 7px;
    height: 23px;
    background: transparent;
    border: 2px solid #e6e5ea;
}

.bar.active.red {
    background: red;
    border-color: red;
}

.bar.active.orange {
    background: orange;
    border-color: orange;
}

.bar.active.yellow {
    background: yellow;
    border-color: yellow;
}

.bar.active.green {
    background: #a4ffaf;
    border-color: #a4ffaf;
}

.generate-btn {
    margin-top: 1.5rem;
    background-color: #a4ffaf;
    color: #18171f;
    padding: 1rem;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

footer {
    font-size: 14px;
    color: gray;
    position: relative;
    padding: 0.8em 0 0 0.8em;
}

.footer-links a {
    color: #757575;
    text-decoration: underline;
    margin-bottom: -20px;
}

.footer-links a:hover {
    color: limegreen;
}

.source-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
}

.source-link img {
    height: 0.9em;
}